body {
    padding: 0;
    background-color: black;
    max-width: 500px;
    margin: auto;
}

.input {
    color: grey;
    font-size: 48px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}



.result{
    color: white;
    font-size: 48px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;

}

.buttons {
    color: white;
    margin: 5px;
    border-radius: 40px;
    height: 60px;
    width: 115px;
    margin: 5px;
    border: 1px solid black;
    font-size: large;
    
}

.buttons_digits {
    background-color: #212222;
}

.buttons_operations {
    background-color: orange;
}

.buttons_reset {
    background-color: grey;
    border: 1px solid black;
    font-size: large;
    margin: 5px 25%;
    border-radius: 40px;
    padding: 20px 25%;
}

